body {
    background: rgb(143, 150, 143);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
main{
    align-content: center;
}

.flex-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

.flex-bottom{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0px;
  padding-top: 0px;
}

.profpic {
    width:150x;
    height: 150px;
    border-radius: 25%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

img {
    max-width: 150x;
    height: 150px;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

p{
    text-align: center;
    max-width: 700px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.box{
    padding: 10px;
    margin-top: 0px;
}

h2{
    text-align: center;
    margin-bottom: 0px;
}

h3{
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

h1{
    margin-bottom: 10px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }